<!-- 
Author: Ryan Angaangan
Student ID: 000783037
Date: October 17, 2024
Course: CPRG 210 - Web Application Development
Assignment: Node.js 
-->

<%- include("includes/header.ejs") %>
    
    <h1 class="text-center fs-1 py-5">Ingredients and Tools for Bread</h1>
    <!-- Bootstrap Albums -->
    <div class="album bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="/img/eggs.jpg" alt="Eggs" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">Eggs are a key ingredient in bread. Make sure to remove the eggshell.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="/img/flour.jpg" alt="Flour" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">Flour is another important ingredient when making bread.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="/img/water.jpg" alt="Water" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">Water is also a must-have ingredient for bread-making.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="/img/yeast.jpg" alt="Yeast" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">Yeast is an imperative ingredient for bread.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="./img/salt.jpg" alt="Salt" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">Salt is the last ingredient for a good, simple loaf.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="./img/bowl.jpg" alt="Bowl" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">A bowl is useful for holding the ingredients.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="./img/whisk.jpg" alt="Whisk" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">
                                You can mix the ingredients with a whisk, making sure there are no lumps.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="./img/loaftin.jpg" alt="Loaf Tin" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">
                                Before baking, put your mixture in a loaf tin. Ensure it is spread evenly so the loaf forms well.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="./img/oven.jpg" alt="Oven" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">
                                Place the loaf tin in the oven and wait a while. Your bread will eventually be done.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("includes/footer.ejs") %>