<!-- 
Author: Ryan Angaangan
Student ID: 000783037
Date: October 17, 2024
Course: CPRG 210 - Web Application Development
Assignment: Node.js 
-->

<%- include("includes/header.ejs") %>

    <h1 class="text-center fs-1 pt-5">Changes saved for <%= editUser %>!</h1>
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="/contact-us"><button class="btn btn-primary btn-lg px-4 rounded-pill">Return to Contact Us</button></a>
        </div>
    </div>

</body>
</html>