<!-- 
Author: Ryan Angaangan
Student ID: 000783037
Date: October 17, 2024
Course: CPRG 210 - Web Application Development
Assignment: Node.js 
-->

<%- include("includes/header.ejs") %>

    <h1 class="text-center fs-1 py-5">Invalid request, "<%= invalidUrl %>" was not found.</h1>
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="/"><button class="btn btn-primary btn-lg px-4 rounded-pill">Return to homepage</button></a>
        </div>
    </div>

</body>
</html>